@using CondorExtreme3.ModelsLocalDB;
@{
    Layout = null;
}
@model List<Projection>

<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
        <li class="active">Projections</li>
    </ol>

</section>
<div class="content">
    <div class="row">
        @foreach (Projection p in Model)
        {
            <div class="col-md-4">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-black" style="background: url(@p.Movie.Picture) center center;">

                        @using (Html.BeginForm("Index", "Cinema", FormMethod.Post))
                        {
                            <input hidden="hidden" name="MovieID" value="@p.ProjectionID" />

                            <div class="pull-right" style="background-color:green; border:0; box-shadow: 0px 0px 5px black; border-radius:3px; padding:3px 5px 3px 5px; margin:-25px -25px;" data-toggle="tooltip" data-placement="left" title="Get Tickets">
                                <i onclick="$(this).closest('form').submit()" class="fa fa-plus" aria-hidden="true"> Tickets</i>
                            </div>
                        }
                        <h3 class="widget-user-username">@p.Movie.MovieName</h3>
                        <h5 class="widget-user-desc">@p.Movie.Genre.GenreName</h5>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block" style="font-size:13px;">
                                    <b>Cinema hall</b> <br />
                                    @p.CinemaHall.Name, @p.TechnologyType.Name
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block" style="font-size:13px;">
                                    <b>Ticket price</b> <br />
                                    <b style="color:darkred">@p.TicketPrice KM </b>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block" style="font-size:13px;">
                                    <b>Release year</b> <br />
                                    @p.Movie.ReleaseYear
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
        }
    </div>
</div>
