@using CondorExtreme3.ModelsLocalDB;
@{
    Layout = null;
}

@model CondorExtreme3.Areas.Local.Models.AddCinemaVM

<div class="row" style="margin-bottom:25px;">
    <div class="col-xs-1 col-sm-1 col-md-1"><i class="fa fa-chevron-left" aria-hidden="true"></i> <small></small></div>
    <div class="col-xs-10 col-sm-10 col-md-10"><b>Add techology type for inseterted cinema hall</b></div>
    <div class="col-xs-1 col-sm-1 col-md-1"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button></div>
</div>

@using (Html.BeginForm("SubmitTechType", "ProjectionManager", null))
{

    <div hidden="hidden">
        @Html.EditorFor(x => x.CinemaHall)
        @Html.EditorFor(x => x.CinemaHall.Cinema)
        @Html.EditorFor(x => x.CinemaHall.Cinema.Address)
        @Html.EditorFor(x => x.CinemaHall.Cinema.Address.City)
        @Html.EditorFor(x => x.CinemaHall.Cinema.Address.City.Country)
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.Label("Selected country:", new { @class = "fontSize" })
            @Html.LabelFor(x => x.CountryID, Model.Cinema.Address.City.Country.Name, new { @class = "fontSize", Style = "font-weight:bold;" })<br />
            @Html.Label("Selected city:", new { @class = "fontSize" })
            @Html.LabelFor(x => x.CityID, Model.Cinema.Address.City.Name, new { @class = "fontSize", Style = "font-weight:bold;" })<br />
            @Html.Label("Selected address:", new { @class = "fontSize" })
            @Html.LabelFor(x => x.AddressID, Model.Cinema.Address.AddressLine1, new { @class = "fontSize", Style = "font-weight:bold;" })<br />
            @Html.Label("Selected cinema:", new { @class = "fontSize" })
            @Html.LabelFor(x => x.CinemaID, Model.Cinema.Name, new { @class = "fontSize", Style = "font-weight:bold;" })<br />
            @Html.Label("Selected cinema hall:", new { @class = "fontSize" })
            @Html.LabelFor(x => x.CinemaHall.CinemaHallID, Model.CinemaHall.Name, new { @class = "fontSize", Style = "font-weight:bold;" })

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @for (int i = 0; i < Model.TechTypes.Count(); i++)
            {
                <input type='checkbox' name='check[]' value="@Model.TechTypes[i].TechnologyTypeID" id="@Model.TechTypes[i].TechnologyTypeID" /> 
                <label>@Model.TechTypes[i].Name</label><br />
            }
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>

    </div>

}